/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* universal selector */
* {
	margin: 0;
	padding: 0;
	/* border box means change the box model 
 so borders and padding aren't added to height and width we specify for a box */
	box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: #777;
	padding: 30px;
}

.header {
	position: relative;
	height: 95vh;
	/* We can use more than one img, we can set gradient direction */
	background-image: linear-gradient(
			to right bottom,
			rgba(126, 213, 111, 0.803),
			rgba(40, 180, 133, 0.803)
		),
		url(../assets/hero.jpg);
	/* makes image fill entire space at all times */
	background-size: cover;
	/* attaches the top of the image to make sure it never changes on all screens */
	background-position: top;

	/* clipping using the polygon function */
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
	position: absolute;
	top: 40px;
	left: 40px;
}

.logo {
	height: 35px;
}

/* .logo:hover {
	animation: moveInRight 1s ease-out;
} */

.text-box {
	position: absolute;
	/* This is what worked for properly centering the text box for me */
	top: 40%;
	left: 50%;
	/* width: 100%; */
	transform: translate(-50%, -50%);
	text-align: center;
}

.heading-pry {
	color: #fff;
	text-transform: uppercase;
	/* determines if the back part of an element when it moves is visible to the user */
	backface-visibility: hidden;
	margin-bottom: 60px;
}

.heading-pry-main {
	display: block;
	font-size: 60px;
	font-weight: 700;
	letter-spacing: 35px;

	animation-name: moveInLeft;
	animation-duration: 1s;
	/* animation-delay: 2s; */
	/* animation-iteration-count: 3; */
	animation-timing-function: ease-out;
	animation: moveInLeft 1s ease-out;
}

.heading-pry-sub {
	display: block;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 17.4px;

	/* animation-name: moveInRight;
	animation-duration: 1s;
	animation-timing-function: ease-out; */
	animation: moveInRight 1s ease-out;
}
/* clippy tool helps us do this... bennetfeely.com/clippy */
/* 0 0, 0 100px, 100% 200px, 0 100% */

/* headers animations */

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}

	/* 50% {
		transform: rotate(13deg);
	} */

	80% {
		opacity: 1;
		transform: translateX(10px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(100px);
	}

	80% {
		opacity: 1;
		transform: translateX(-10px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.btn:link,
.btn:visited {
	text-transform: uppercase;
	text-decoration: none;
	padding: 15px 40px;
	border-radius: 100px;
	display: inline-block;
	/* easier to use than keyframes */
	transition: all 0.2s ease-out;
}

.btn:hover {
	transform: translateY(-3px);
	/* low opacity/alpha values works nicely with buttons */
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.btn:active {
	transform: translateY(-1px);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
	background-color: #fff;
	color: #777;
}
